doctype 
html 
	head 
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Leon - Template
		link(rel="icon" href="https://i.suar.me/wgn43/l")
		//- Normalize & Global rules
		link(rel="stylesheet" href="css/first.css")
		//- Font Awesome
		link(rel="stylesheet" href="css/all.min.css")
		//- Google fonts
		//- font-family: 'Work Sans', sans-serif;
		link(rel='preconnect' href='https://fonts.googleapis.com')
		link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
		link(href='https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap' rel='stylesheet')
		//- Main css file
		link(rel="stylesheet" href="css/main.css")
	body
		.header 
			.container 
				img(class="logo" src="images/logo.png")
				.links
					span.icon
						span.s1
						span.s2
						span.s3
					ul.first-ul
						li
							a(href="#services") Services
						li
							a(href="#portfolio") Portfolio
						li
							a(href="#about") About
						li
							a(href="#contact") Contact
		.landing 
			.intro-text
				h1 Hello There
				p We are Leon - Super Creative & Minimal Agency Web Template
		.features
			.container
				.feat
					i.fas.fa-magic.fa-3x
					h3 Tell Us Your Idea
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut lab
				.feat
					i.far.fa-gem.fa-3x
					h3 We Will Do All The Work
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut lab
				.feat
					i.fas.fa-globe-asia.fa-3x
					h3 Your Product is Worldwide
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut lab
		#services.services
			.container
				h2.special-heading Services
				p Don't be busy, be productive
				.services-content
					.col
						.srv
							i.fas.fa-palette.fa-2x
							.text
								h3 Graphic Design
								p
									| Graphic design is the process of visual communication and problem-solving using one or more of
									| typography, photography and illustration.
						.srv
							i.fab.fa-sketch.fa-2x
							.text
								h3 UI & UX
								p
									| Process of enhancing user satisfaction with a product by improving the usability, accessibility, and
									| pleasure provided in the interaction.
					.col
						.srv
							i.fas.fa-vector-square.fa-2x
							.text
								h3 Web Design
								p
									| Web design encompasses many different skills and disciplines in the production and maintenance of
									| websites.
						.srv
							i.fas.fa-pencil-ruler.fa-2x
							.text
								h3 Web Development
								p
									| Web development is a broad term for the work involved in developing a web site for the Internet or an
									| intranet.
					.col
						.image.image-column
							img(src='images/services.jpg' alt='services')
		#portfolio.portofolio
			.container
				h2.special-heading Portofolio
				p If you do it right, it will last forever.
				.portofolio-content
					.card
						img(src="images/portfolio-1.jpg")
						.info 
							h3 Project Here
							p My creative ability is very difficult to measure because it can manifest in so many surprising and.
					.card
						img(src="images/portfolio-2.jpg")
						.info 
							h3 Project Here
							p My creative ability is very difficult to measure because it can manifest in so many surprising and.
					.card
						img(src="images/portfolio-3.jpg")
						.info 
							h3 Project Here
							p My creative ability is very difficult to measure because it can manifest in so many surprising and.
		#about.about
			.container
				h2.special-heading About
				p Less is more work
				.about-content
					.image
						img(src="images/about.jpg")
					.text 
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nemo neque voluptate tempora velit cum non, fuga vitae architecto delectus sed maxime rerum impedit aliquam obcaecati, aut excepturi iusto laudantium!
						hr
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, sapiente. Velit iure exercitationem dolores nesciunt dolore. Eum officiis dolorum hic voluptate quaerat minima, similique inventore esse, alias, sed quo officia?
		#contact.contact
			.container
				h2.special-heading Contact
				p We are born to create
				.contact-content
					.info 
						p.label Feel free to drop us a line at:
						a(href="mailto:leonagency@mail.com" class="link") leonagency@mail.com
						.social
							| Find Us On Social Networks
							i.fab.fa-youtube
							i.fab.fa-facebook-f
							i.fab.fa-twitter
		.footer
			| © 2021 
			span Leon
			|  All Right Reserved
		//- Scripts
		script(src='js/main.js')