doctype 
html 
	head 
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title 
		link(rel="icon" href="")
		//- Normalize & Global rules
		link(rel="stylesheet" href="css/first.css")
		//- Font Awesome
		link(rel="stylesheet" href="css/all.min.css")
		//- Google fonts
		//- font-family: 'Work Sans', sans-serif;
		link(rel='preconnect' href='https://fonts.googleapis.com')
		link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
		link(href='https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap' rel='stylesheet')
		//- Main css file
		link(rel="stylesheet" href="css/main.css")
	body
		//- Scripts
		script(src="js/main.js") 